.information-box {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    border-radius: 10px;
}

.login-header {
    text-align: center;
}